*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    background-color: #FAFAF9;
        font-family: "Sora", sans-serif;
}

.container {
    display: flex;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    gap: 50px;
}

svg {
    height: 20px;
    width: 20px;
}

.left-container {
    /* padding-right:900px; */
    width: 50%;
}

.left-image svg {
    color: #eaeae8;
}

.left-image {
    background-color: #F5C044;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

li svg {
    color: #4CA154;
}

.yellow-icon {
    color: #F5C044;
}

.ash-icon {
    color: #D4D4D8;
}

.first-card {
    margin-left: auto;
    border: 1px solid #FFFFFF;
    padding: 20px;
    background-color: #FFFFFF;
    max-width: 60%;
}

ul {
    margin-top: 30px;
}

ul li {
    list-style: none;
    font-size: 14px;
    color: #52525A;
        display: flex;
        align-items: center;
        justify-items: center;
        line-height: 30px;
        gap: 10px;

}

.right-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.second-card {
    margin-top: 70px;
        padding: 30px;
    border: 1px solid #FFFFFF;
    width: fit-content;
    max-width: 60%;
        background-color: #FFFFFF;


}

p {
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    margin-top: 10px;
    color: #52525A;
    line-height: 25px;
}

h2 {
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
}

h3 {
    font-size: 16px;
}

h1 {
    font-size: 36px;
}

h2 span:nth-child(1) { color: #4285F4 }
h2 span:nth-child(2) { color: #EA4335; }
h2 span:nth-child(3) { color: #FBBC05; }
h2 span:nth-child(4) { color: #4285F4; }
h2 span:nth-child(5) { color: #34A853; }
h2 span:nth-child(6) { color: #EA4335; }

h2 span {
    padding: 0;
    margin: 0;
}