*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #F2F5F9;
    box-sizing: border-box;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
}

.card-container {
    width: 500px;
    margin: auto;
    /* border : 1px solid black; */
    border-radius: 20px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.image {
    width: 100%;
    /* Adjust width */
    height: auto;
}

.user-icon {
    width: 60px;
    height: 50px;
}

.context-container {
    
}

.context {
    padding: 30px;
}
.description{
    margin-top: 20px;
    font-size: 18px;
    color: #4A5567;
}

.footer {
    border-top: 1px solid #eeeff0;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 30px;
}

.designation {
    color: #4A5567;
    font-weight: 600;
    font-size: 18px;

}

.heading {
    font-size: 32px;
}

.name {
    font-weight: 900;
    font-size: 20px;
}